/* Стили для головы */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #007bff; /* Синий фон */
    border-radius: 15px;
    color: white;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .date {
    font-size: 16px;
  }

  .weekButton {
    padding: 8px 16px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .weekButton:hover {
    background-color: #f0f0f0;
  }