.balanceContainer {
    display: flex; /* Размещаем элементы в строку */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
  }
  
  .coinIcon {
    width: 24px; /* Размер изображения */
    height: 24px;
    margin-right: 8px;
  }
  
  .coinCount {
    font-weight: bold; /* Жирный шрифт для числа */
  }