body {
  background-color: #707070;
}
/* MonsterGame.module.css */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.balance-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}