body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  user-select: none; /* Запрет выделения */
  pointer-events: none; /* Отключение событий мыши */
}