/* Registration.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff; /* Светло-голубой фон */
  }
  
  .registration-container {
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 16px; /* Скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px; /* Увеличиваем отступы вокруг контейнера */
  }
  
  .header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
  }
  
  .select-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .select-group select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Скругленные углы */
    width: 70%;
  }
  
  .select-group button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px; /* Скругленные углы */
    cursor: pointer;
    margin-left: 10px;
  }
  
  .form-field {
    margin-bottom: 10px; /* Расстояние между полями */
  }
  
  .course-select,
  .group-select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Скругленные углы */
    width: 100%;
  }
  
  .course-select {
    margin-bottom: 10px; /* Расстояние между полями */
  }
  
  .submit-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px; /* Скругленные углы */
    cursor: pointer;
    width: 100%; /* Занимает всю ширину */
  }