/* Registration.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97.5vh;
    border-radius: 24px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background-color: #c5e0f8; /* Светло-голубой фон */
  }
  
  .registrationContainer {
    width: 400px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 16px; /* Скругленные углы */
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 50px; /* Увеличиваем отступы вокруг контейнера */
  }
  
  .header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
  }
  
  .selectGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .selectGroup select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Скругленные углы */
    width: 70%;
  }
  
  .selectGroup button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px; /* Скругленные углы */
    cursor: pointer;
    margin-left: 10px;
  }
  
  .formField {
    margin-bottom: 10px; /* Расстояние между полями */
  }
  
  .courseSelect,
  .groupSelect {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Скругленные углы */
    width: 100%;
    color:#00000077;
  }
  
  .course-select {
    margin-bottom: 10px; /* Расстояние между полями */
  }
  
  .submitButton {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px; /* Скругленные углы */
    cursor: pointer;
    width: 100%; /* Занимает всю ширину */
  }

  select option:checked {
    color: red;
  }

  select popup {
    border-radius: 10px;
  }